name: C/C++ Build and Test

on:
  push:
    branches:
      - main  # Запускать процесс при пуше в основную ветку (main)

jobs:
  build:
    runs-on: ubuntu-latest  # Используется последняя версия Ubuntu

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2  # Клонирование репозитория

    - name: Set up GCC
      uses: p-ranav/gcc-action@v2  # Установка компилятора GCC
      with:
        gcc-version: '9'  # Используем GCC версии 9

    - name: Compile C files
      run: |
        gcc -o my_program main.c  # Компиляция вашего основного C файла (main.c)

    - name: Run tests
      run: |
        ./my_program  # Запуск скомпилированной программы для тестов
